<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="./assets/css/slot.css">

	<!-- New Inventory with drag & drop -->
	<link rel="stylesheet" href="./assets/css/info.css">
	<link rel="stylesheet" href="./assets/css/board_new.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

</head>


<body style="display: none">
	<div id="inventory" class="board">

		<div id="inv" class="inv" v-if="active">
			<div class="bgshow"></div>

				<div class="menuInv">

					<!-- Инвентарь -->
					<div class="inventory_bg">
						<div class="left droppable" data-action="1" data-type="eq">
                            <div class="left_header">
                                <img src="./assets/images/board/icon_one.png" alt="">
                                <div class="left_header-wrapper">
                                    <div class="left_header-title">СНАРЯЖЕНИЕ</div>
                                    <div class="left_header-info">ПРЕДМЕТЫ И ОДЕЖДА НА ВАС</div>
                                </div>
                            </div>
							<div class="hum">
								<img class="man" src="./assets/images/board/man.png">
								<div class="items1">
									<div class="item1 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/cap.svg" alt=""> -->
									<!-- <p>Головной Убор</p> -->
								</div>
								<!-- <div class="items2">
									<div class="item2 item_block"></div>
									<p>Маска</p>
								</div> -->
								<div class="items3">
									<div class="item3 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/eyeglasses.svg" alt=""> -->
									<!-- <p>Очки</p> -->
								</div>
								<!-- <div class="items4">
									<div class="item4 item_block"></div>
									<p>Шея</p>
								</div> -->
								<div class="items5">
									<div class="item5 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/bulletproof-vest.svg" alt=""> -->
									<!-- <p>Бронежилет</p> -->
								</div>
								<!-- <div class="items6">
									<div class="item6 item_block"></div>
									<p>Серьги</p>
								</div> -->
								<div class="items7">
									<div class="item7 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/sweatshirt.svg" alt=""> -->
									<!-- <p>Куртка</p> -->
								</div>
								<!-- <div class="items8">
									<div class="item8 item_block"></div>
									<p>Рюкзак</p>
								</div> -->
								<div class="items9">
									<div class="item9 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/gloves.svg" alt=""> -->
									<!-- <p>Перчатки</p> -->
								</div>
								<div class="items10">
									<div class="item10 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/tshirt.svg" alt=""> -->
									<!-- <p>Футболка</p> -->
								</div>
								<div class="items11">
									<div class="item11 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/watch.svg" alt=""> -->
									<!-- <p>Часы</p> -->
								</div>
								<div class="items12">
									<div class="item12 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/pants.svg" alt=""> -->
									<!-- <p>Штаны</p> -->
								</div>
								<div class="items13">
									<div class="item13 item_block"></div>
									<!-- <img class="item_icon" src="./assets/images/board/sneakers.svg" alt=""> -->
									<!-- <p>Ботинки</p> -->
								</div>
							</div>
							<!-- <div class="bust">
								<p>Оружие</p>
								<div class="list">
									<div class="slot1">
										<div class="item1">
										</div>
										<p>1</p>
									</div>
									<div class="slot2">
										<div class="item2">
										</div>
										<p>2</p>
									</div>
									<div class="slot3">
										<div class="item3">
										</div>
										<p>3</p>
									</div>
									<div class="slot4">
										<div class="item4">
										</div>
										<p>4</p>
									</div>
								</div>
							</div> -->
						</div>
						<div class="center droppable" data-action="1" data-type="inv">
							<div class="fast_slot">
								<div class="center_header fast">
                                    <img src="./assets/images/board/icon_two.png" alt="">
                                    <div class="left_header-wrapper">
                                        <div class="left_header-title">КАРМАНЫ</div>
                                        <div class="left_header-info">ПРЕДМЕТЫ ДЛЯ БЫСТРОГО ДОСТУПА</div>
                                    </div>
                                </div>
								
								<div class="fast_block">
					
									<div v-if="!savedFast[0]" :class="selectFastSlot ? 'fastSlotField selecting' : 'fastSlotField'" v-on:click="useFastSlot(0)"></div>
									<div v-else> <item v-for="(item, index) in items" v-if="item[0] == savedFast[0][0] && item[1] == savedFast[0][1]" :key="key" :id="item[0]" :index="index" :count="item[1]" :isactive="item[2]" :subdata="item[3]" type="fast"/> </div>
									<div v-if="!savedFast[1]" :class="selectFastSlot ? 'fastSlotField selecting' : 'fastSlotField'" v-on:click="useFastSlot(1)"></div>
									<div v-else> <item v-for="(item, index) in items" v-if="item[0] == savedFast[1][0] && item[1] == savedFast[1][1]" :key="key" :id="item[0]" :index="index" :count="item[1]" :isactive="item[2]" :subdata="item[3]" type="fast"/> </div>
									<div v-if="!savedFast[2]" :class="selectFastSlot ? 'fastSlotField selecting' : 'fastSlotField'" v-on:click="useFastSlot(2)"></div>
									<div v-else> <item v-for="(item, index) in items" v-if="item[0] == savedFast[2][0] && item[1] == savedFast[2][1]" :key="key" :id="item[0]" :index="index" :count="item[1]" :isactive="item[2]" :subdata="item[3]" type="fast"/> </div>
									<div v-if="!savedFast[3]" :class="selectFastSlot ? 'fastSlotField selecting' : 'fastSlotField'" v-on:click="useFastSlot(3)"></div>
									<div v-else> <item v-for="(item, index) in items" v-if="item[0] == savedFast[3][0] && item[1] == savedFast[3][1]" :key="key" :id="item[0]" :index="index" :count="item[1]" :isactive="item[2]" :subdata="item[3]" type="fast"/> </div>
									<div v-if="!savedFast[4]" :class="selectFastSlot ? 'fastSlotField selecting' : 'fastSlotField'" v-on:click="useFastSlot(4)"></div>
									<div v-else> <item v-for="(item, index) in items" v-if="item[0] == savedFast[4][0] && item[1] == savedFast[4][1]" :key="key" :id="item[0]" :index="index" :count="item[1]" :isactive="item[2]" :subdata="item[3]" type="fast"/> </div>
									<!-- <div style="overflow-y:scroll; margin: 0px 45px;">
										<div class="items hum"></div>
									</div> -->
									
								</div>
							</div>
							<div class="huminv">
                                <div class="center_header">
                                    <img src="./assets/images/board/icon_three.png" alt="">
                                    <div class="left_header-wrapper">
                                        <div class="left_header-title">РЮКЗАК</div>
                                        <div class="left_header-info">ПРЕДМЕТЫ И ОДЕЖДА НА ВАС</div>
                                    </div>
                                </div>
								<!-- <h1>Инвентарь</h1> -->
								<div class="items">
									<!-- <div class="item">
										<img src="img/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div> -->
									<!-- <item v-for="(item, index) in items" v-if="!(savedFast[0] != undefined && savedFast[0][0] == item[0] && savedFast[0][1] == item[1]) && !(savedFast[1] != undefined && savedFast[1][0] == item[0] && savedFast[1][1] == item[1]) && !(savedFast[2] != undefined && savedFast[2][0] == item[0] && savedFast[2][1] == item[1]) && !(savedFast[3] != undefined && savedFast[3][0] == item[0] && savedFast[3][1] == item[1]) && !(savedFast[4] != undefined && savedFast[4][0] == item[0] && savedFast[4][1] == item[1])"
                                    :key="key" :id="item[0]" :index="index"
										:count="item[1]" :isactive="item[2]" :subdata="item[3]" type="inv" /> -->

										<item v-for="(item, index) in items"
							v-if="!(savedFast[0] != undefined && savedFast[0][0] == item[0] && savedFast[0][1] == item[1]) && !(savedFast[1] != undefined && savedFast[1][0] == item[0] && savedFast[1][1] == item[1]) && !(savedFast[2] != undefined && savedFast[2][0] == item[0] && savedFast[2][1] == item[1]) && !(savedFast[3] != undefined && savedFast[3][0] == item[0] && savedFast[3][1] == item[1]) && !(savedFast[4] != undefined && savedFast[4][0] == item[0] && savedFast[4][1] == item[1])"
							:key="key" :id="item[0]" :index="index" :count="item[1]" :isactive="item[2]"
							:subdata="item[3]" type="inv" />


								</div>
							</div>
							<!-- <div class="bpinv">
								<h1>Сумка</h1>
								<p>Продвинутый тип</p>
								<p style="color:#fff;font-weight: 800;">2/25</p>
								<div class="items">
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>
									<div class="item">
										<img src="./assets/images/icons/items/-12.png">
										<p>Name</p>
										<span>100шт</span>
									</div>

								</div>
							</div> -->
						</div>
						

					</div>
					

				</div>
				<div class="right droppable" v-show="outside" data-action="2" data-type="out">
					<div class="dopinv">
						<!-- <h1>Внешний Инвентарь</h1> -->
						<div class="center_header">
							<img src="./assets/images/board/reverce.png" alt="">
							<div class="left_header-wrapper">
								<div class="left_header-title">{{outHead}}</div>
								<div class="left_header-info">ПРЕДМЕТЫ</div>
							</div>
						</div>
						<p></p>
						<div class="items">
							<!-- <div class="item">
								<img src="img/-12.png">
								<p>Name</p>
								<span>100шт</span>
							</div> -->
							<item v-for="(item, index) in outitems" :key="key" :id="item[0]" :index="index"
								:count="item[1]" :subdata="item[3]" type="out" />
						</div>
					</div>
				</div>

		</div>
	</div>

	<div class="info" v-show="active" :style="style">
		<div class="header">
			<div class="text">{{name}}</div>
			<div class="clos" v-on:click="hide">x</div>
		</div>
		<div class="border_line"></div>
		<div class="box">{{subtext}}</div>
		<div class="button">
			<div class="btns use" v-on:click="btn(1)">Надель</div>
			<div class="btns" v-if="type" v-on:click="btn(2)">Обмен</div>
			<div class="btns" v-if="!type" v-on:click="btn(3)">Взять</div>
			<div class="btns" v-on:click="btn(4)">Выбросить</div>
		</div>
	</div>

    <div class="circle" @mouseOut="out" v-show="active" style="opacity:0; height:240px; width:250px">
        <div class="center">
            <div class="text">{{description}}</div>
            <div id="8" class="close-btn" @click="btn">x</div>
        </div>
        <div class="items-list">
            <ul>
                <li v-for="(item, id) in items">
                    <div :id="id" class="contents" :class="icons[id]" @click="btn">{{item}}</div>
                </li>
            </ul>
        </div>
    </div>

	<script src="./assets/js/jquery-3.3.1.min.js"></script>
	<script src="./assets/js/dng.js"></script>
	<script src='./assets/js/inventory.js'></script>
	<script src="./assets/js/move.min.js"></script>
	<script>
		// 		var itemType = $('.draggable').data('active');
		
		// console.log(itemType);
		
			// $('.center').on('draggable', function (e) {
			// 	console.log($(".active").attr("data-active"));
			// });
		
				// проверим существования класса meow у элемента
				// if ($('.item ').hasClass('draggable')) {
				//   console.log('У элемента есть класс meow');
				//   } else {
				// 	console.log('Элемент не содержит класс meow');
				//   }
				</script>

	<script>
		Vue.filter('formatThousands', (x) => {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
		})
	</script>
	<script>
		window.onload = function () {
			document.getElementsByTagName('body')[0].style.display = "block";
		}
	</script>
	
</body>

</html>