body {
	margin: 0;
	/* height: 100vh; */
	overflow: hidden;
	/* font-family: 'Open Sans', sans-serif; */
	background-size: cover;
	/* background: #261212; */
	/* background-image: url('../images/board/bg.png'); */
	overflow-x: hidden;
}

.board {

height: 100vh;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
    display: block;
    /* background-color: #1b1c1d21; */
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    border: 4px solid #2D2D2D;
}
::-webkit-scrollbar-thumb {
    background: #E4C08F;
}

.bg1 {
	width: 20000px;
	height: 20000px;
	position: absolute;
	left: -100vh;
	top: -100vh;
	background: #17141980;
	z-index: -1;
}

.invg {
	width: 100%;
	height: 100%;
}

.inv {
	/* color: #fff; */
	/* width: 142vh; */
	/* height: 88vh; */
	/* display: flex; */
	/* position: relative; */
	/* height: 100vh; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -25%); */
	/* align-items: center; */
	/* justify-content: center; */
	/* width: 142vh; */
	/* height: 88vh; */
	display: flex;
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(-60%, 0%);
}

.inventory_bg {
	display: flex;
	/* left: 15vh; */
	position: absolute;
	/* position: fixed; */
	transform: translate(-40%, -65%);
	width: 100vh;
	height: 77vh;
	left: 50%;
	top: 50%;
	/* background: linear-gradient(
                180deg, rgba(1, 13, 25, 0.91) 0%, rgba(77, 77, 77, 0.78) 100%); */
	background: linear-gradient(180deg, rgba(0, 14, 27, 0.7735) 63.6%, rgba(0, 0, 0, 0.85) 100%);
	border: 1px solid #E4C08F;
	border-radius: 5px;
}

.inv .head {
	/* color: #fff; */
	/* height: 7.2vh; */
	/* width: 138.7vh; */
	/* display: flex; */
	/* left: 50%; */
	/* transform: translate(-50%, 0); */
	position: fixed;
	left: 61%;
	top: 45px;
	transform: translate(-50%, 0);
	/* bottom: 17px; */
	z-index: -100;
	display: flex;
	width: 100%;
	/* padding: 0 35px; */
	/* border-bottom: .05vh solid #FFFFFF33; */
	align-items: center;
	justify-content: space-around;
	align-content: center;
}

.inv .head .exit {
	color: #fff;
	/* width: 20.322vh; */
	/* height: 4.630vh; */
	display: flex;
	/* margin-left: 1.4vh; */
	/* margin-right: 27vh; */
	align-items: center;
}

.inv .head .exit .bg {
	color: #fff;
	width: 4.630vh;
	height: 4.630vh;
	background: #ff5722;
	box-shadow: 0px 0px 0.926vh rgb(255 87 34 / 70%);
	font-size: 3.593vh;
	line-height: 1.852vh;
	/* or 71% */
	font-weight: 500;
	text-align: center;
	border-radius: 0.463vh;
	margin-right: 1.581vh;
	/* position: relative; */
	display: flex;
	align-items: center;
}

.inv .head .exit .bg p {
	color: #fff;
	width: 4.630vh;
	font-size: 1.593vh;
	font-weight: 600;
	margin: 0;
	/* position: relative; */
	/* top: 50%; */
	/* transform: translate(0%, -50%); */
}

.inv .head .exit p {
	margin: 0;
	/* color: #fff; */
	/* width: 14.121vh; */
	/* height: 1.658vh; */
	font-size: 1.852vh;
	font-weight: 600;
	/* line-height: 2.130vh; */
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
	/* position: relative; */
	/* top: 50%; */
	/* transform: translate(0%, -50%); */
}

.inv .head .inv1 {
	/* color: #fff; */
	/* width: 20.322vh; */
	/* height: 4.630vh; */
	/* display: flex; */
	color: #fff;
	/* width: 20.322vh; */
	/* height: 4.630vh; */
	display: flex;
	/* margin-left: 1.4vh; */
	/* margin-right: 27vh; */
	align-items: center;
}

.inv .head .inv1 .bg {
	color: #fff;
	width: 4.630vh;
	height: 4.630vh;
	/* background: #4B5BE6; */
	/* box-shadow: 0px 0px 0.926vh rgb(75 91 230 / 70%); */
	background: #ff5722;
	box-shadow: 0px 0px 0.926vh rgb(255 87 34 / 70%);
	font-size: 3.593vh;
	line-height: 1.852vh;
	font-weight: 500;
	text-align: center;
	border-radius: 0.463vh;
	margin-right: 1.581vh;
}

.inv .head .inv1 .bg p {
	color: #fff;
	width: 4.630vh;
	font-size: 2.593vh;
	font-weight: 600;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
}

.inv .head .inv1 p {
	color: #fff;
	margin: 0;
	width: 14.121vh;
	height: 1.658vh;
	font-size: 1.852vh;
	font-weight: 600;
	line-height: 2.130vh;
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
}

.inv .head .inv1 span {
	color: #ffffff00;
	position: absolute;
	display: block;
	background: #4B5BE6;
	box-shadow: 0px 0px 0.926vh rgb(75 91 230 / 25%);
	height: .05vh;
	width: 25vh;
	top: 7.1vh;
	left: 44vh;
}

.inv .left {
	color: #fff;
	width: 50vh;
	/* height: 77vh; */
	/* margin-top: 12vh; */
}

.left_header {position: fixed;display: flex;margin-left: 6vh;margin-top: 2.5vh;}
.left_header-wrapper {margin-left: 1vh;}
.left_header-title {font-weight: 500;font-size: 18px;line-height: 21px;color: #E4C08F;text-transform: uppercase;}
.left_header-info {font-size: 14px;line-height: 16px;}

.center_header {
	display: flex;
}

.right .center_header {
	display: flex;
	margin-left: 5vh;
	margin-top: 3vh;
}

.inv .left .hum {
    color: #fff;
    height: 58.8vh;
    width: 34vh;
    position: relative;
    left: 50%;
    transform: translate(-50%, 25%);
    /* border-bottom: 0.5vh solid #FFFFFF33; */
    /* color: #fff; */
    /* height: 58.8vh; */
    /* width: 34vh; */
    /* position: relative; */
    /* left: 50%; */
    /* transform: translate(-50%, 7vh); */
    /* border-bottom: 0.5vh solid #FFFFFF33; */
}

.inv .left .hum img.man {
	color: #fff;
	/* height: 48.420vh; */
	width: 26.5vh;
	position: relative;
	left: 51%;
	transform: translate(-50%, -4.8vh);
	/* top: 4.8vh; */
}

.item_icon {
	position: relative;
    top: -60px;
    left: 0;
}

.inv .left .hum .items1 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: -4.9vh;
	left: 12vh;
}

.inv .left .hum .items1 .item1 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items1 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items2 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	/* top: 5.1vh; */
	/* left: 2.7vh; */
	/* top: 5.1vh; */
	/* left: 20.5vh; */
}

.inv .left .hum .items2 .item2 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	background: #22212333;
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items2 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items3 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	/* top: 5.1vh; */
	/* left: 20.5vh; */
	top: 5.1vh;
	left: 2.1vh;
}

.inv .left .hum .items3 .item3 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	/* border-bottom: 0.4vh solid #4B5BE6; */
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items3 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items4 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 16.5vh;
	left: -1.9vh;
}

.inv .left .hum .items4 .item4 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	background: #22212333;
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items4 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items5 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 14.6vh;
	left: 12vh;
}

.inv .left .hum .items5 .item5 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items5 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	margin-top: 4px;
	line-height: 1.296vh;
}

.inv .left .hum .items6 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 16.5vh;
	left: 25.8vh;
}

.inv .left .hum .items6 .item6 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items6 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items7 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 5.1vh;
	left: 12vh;
}

.inv .left .hum .items7 .item7 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items7 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items8 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 25.8vh;
	left: 11.8vh;
}

.inv .left .hum .items8 .item8 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	background: #22212333;
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items8 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items9 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	/* top: 25vh; */
	top: 24.5vh;
	/* left: 1.8vh; */
	left: 2.1vh;
}

.inv .left .hum .items9 .item9 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items9 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	margin-top: 4px;
	line-height: 1.296vh;
}

.inv .left .hum .items10 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 5.1vh;
	left: 21.5vh;
}

.inv .left .hum .items10 .item10 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items10 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	margin-top: 4px;
	line-height: 1.296vh;
}

.inv .left .hum .items11 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	/* top: 37.2vh; */
	left: 25.5vh;
	top: 24.5vh;
	left: 21.5vh;
	/* left: 12vh; */
}

.inv .left .hum .items11 .item11 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items11 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	margin-top: 4px;
	line-height: 1.296vh;
}

.inv .left .hum .items12 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 24.5vh;
	left: 12vh;
}

.inv .left .hum .items12 .item12 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items12 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .hum .items13 {
	color: #fff;
	height: 8.426vh;
	width: 10.778vh;
	position: absolute;
	text-align: center;
	top: 51vh;
	/* left: 25.1vh; */
	left: 12vh;
}

.inv .left .hum .items13 .item13 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	/* background: #22212333; */
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .hum .items13 p {
	color: #fff;
	width: 10.778vh;
	height: 1.007vh;
	font-style: normal;
	font-weight: 500;
	font-size: 1.111vh;
	line-height: 1.296vh;
	margin-top: 4px;
}

.inv .left .bust {
	color: #fff;
	height: 18vh;
	display: none;
}

.inv .left .bust p {
	position: relative;
	color: #fff;
	left: 5vh;
	top: 2vh;
	width: 14vh;
	height: 3.364vh;
	border-radius: 0.463vh;
	background: linear-gradient(102.98deg, #4B5BE6 -4.92%, rgba(75, 91, 230, 0) 76.94%);
	font-style: normal;
	font-weight: bold;
	font-size: 1.481vh;
	line-height: 1.759vh;
	padding: 1vh 1vh 1vh 1.5vh;
	margin-bottom: 0.5vh;
}

.inv .left .bust .list {
	color: #fff;
	display: flex;
	position: relative;
	top: 2.5vh;
	text-align: center;
	left: 4vh;
}

.inv .left .bust .list .slot1 {
	color: #fff;
	height: 11.426vh;
	width: 7.778vh;
	margin-right: 1.5vh;
	text-align: center;
}

.inv .left .bust .list .slot1 .item1 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	background: #22212333;
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .bust .list .slot1 p {
	color: #fff;
	font-size: 1.111vh;
	line-height: 1.296vh;
	width: 1.852vh;
	height: 1.852vh;
	border-radius: 7vh;
	background: #222123;
	padding: 0.211vh;
	border: 0.093vh solid rgba(255, 255, 255, 0.4);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	top: 0.9vh;
	margin-bottom: 0;
}

.inv .left .bust .list .slot2 {
	color: #fff;
	height: 8.426vh;
	width: 7.778vh;
	text-align: center;
	margin-right: 1.5vh;
}

.inv .left .bust .list .slot2 .item2 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	background: #22212333;
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .bust .list .slot2 p {
	color: #fff;
	font-size: 1.111vh;
	line-height: 1.296vh;
	width: 1.852vh;
	height: 1.852vh;
	border-radius: 7vh;
	background: #222123;
	padding: 0.211vh;
	border: 0.093vh solid rgba(255, 255, 255, 0.4);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	top: 0.9vh;
	margin-bottom: 0;
}

.inv .left .bust .list .slot3 {
	color: #fff;
	height: 8.426vh;
	width: 7.778vh;
	text-align: center;
	margin-right: 1.5vh;
}

.inv .left .bust .list .slot3 .item3 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	background: #22212333;
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .bust .list .slot3 p {
	color: #fff;
	font-size: 1.111vh;
	line-height: 1.296vh;
	width: 1.852vh;
	height: 1.852vh;
	border-radius: 7vh;
	background: #222123;
	padding: 0.211vh;
	border: 0.093vh solid rgba(255, 255, 255, 0.4);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	top: 0.9vh;
	margin-bottom: 0;
}

.inv .left .bust .list .slot4 {
	color: #fff;
	height: 8.426vh;
	width: 7.778vh;
	text-align: center;
}

.inv .left .bust .list .slot4 .item4 {
	color: #fff;
	height: 6.944vh;
	width: 6.944vh;
	background: #22212333;
	border-radius: 5vh;
	border: 0.093vh solid #FFFFFF66;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.inv .left .bust .list .slot4 p {
	color: #fff;
	font-size: 1.111vh;
	line-height: 1.296vh;
	width: 1.852vh;
	height: 1.852vh;
	border-radius: 7vh;
	background: #222123;
	padding: 0.211vh;
	border: 0.093vh solid rgba(255, 255, 255, 0.4);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	top: 0.9vh;
	margin-bottom: 0;
}


.inv .left .hum .item_block {
	border: 1px solid rgb(255 255 255 / 10%) !important;
	/* background-color: #1b1b1bd6 !important; */
	border-radius: 0vh !important;
}

.inv .draggable {
	position: relative;
	/* display: flex; */
	align-items: center;
	justify-content: center;
}

.inv .draggable span {
	position: absolute;
	right: 0;
	top: 0;
}

.inv .center {
	color: #fff;
	height: 62vh;
	width: 50vh;
	/* margin-top: 11.9vh; */
	margin-top: 2.5vh;
	/* left: 40vh; */
	/* margin-right: 45vh; */
	/* border-left: 0.5vh solid #FFFFFF33; */
	/* border-right: 0.5vh solid #FFFFFF33; */
}

.inv .center .huminv {
	color: #fff;
	height: 45vh;
	padding: 0vh 2vh 3vh 2.3vh;
}

.inv .center .huminv h1 {
	font-size: 2.222vh;
	font-weight: 600;
	line-height: 2.593vh;
	color: #FFFFFF;
	margin-bottom: 0.9vh;
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
}

.inv .center .huminv p {
	color: #FFFFFF99;
	font-size: 1.852vh;
	line-height: 2.130vh;
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
	margin-bottom: 1vh;
}

.inv .center .huminv .items {
	color: #fff;
	background: url(../img/hum.png);
	background-size: cover;
	height: 43.5vh;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.5vh;
	align-content: flex-start;
}


.inv .center .huminv .items .item {
	color: #fff;
	width: 7.019vh;
	display: block;
	height: 7.019vh;
	/* background: #22212333; */
	/* border: 0.093vh solid rgba(255, 255, 255, 0.5); */
	/* border-radius: 0.463vh; */
	margin-right: 1.7vh;
	margin-bottom: 1.8vh;
	align-items: center;
	justify-content: center;
	position: relative;
	display: flex;
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* border: 1px solid rgb(255 255 255 / 12%); */
	/* background-color: #1b1b1bd6; */
	/* border-radius: 0.463vh; */
	border: 1px dashed rgba(255, 255, 255, 0.25);
}

[data-active="active"] {
	/* border: 0.2vh solid rgba(75, 91, 230, 0.4) !important; */
	/* background: rgb(48 47 47 / 86%) !important; */
}

/* .inv .center .huminv .items .item.draggable {
	border: 1px solid rgb(255 255 255 / 15%);
	background-color: #1b1b1bd6;
	border-radius: 0.463vh;
} */

.inv .center .huminv .items .item img {
	/* width: auto; */
	/* height: 3.5vh; */
	/* position: relative; */
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 50%; */
	/* transform: translate(-50%, -25%); */
	/* color: #fff; */
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	/* left: 1.7595vh; */
	/* top: 1.7595vh; */
}

.inv .center .huminv .items .item p {
	color: #ffffff;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .item span {
	/* width: 5vh; */
	color: #ced4da;
	/* font-size: 0.9vh; */
	/* font-weight: 600; */
	position: absolute;
	/* top: -3.5vh; */
	/* left: 1.2vh; */
	/* text-align: right; */
	/* display: block; */
	font-size: 10px;
	top: 3px;
	right: 7px;
}


/**/
.inv .center .huminv .items .i-1a1 {
	/* color: #fff; */
	/* width: 6.944vh; */
	/* height: 6.944vh; */
	display: block;
	/* margin-right: 0; */
	/* margin-bottom: 0; */
	/* position: absolute; */
	/* top: calc(17vh + (2.9vh)); */
	/* left: calc(9vh + (3.5vh)); */
	/* left: 15vh; */
	/* left: 21vh; */
	/* position: absolute;
	top: 18.3vh;
	left: 9vh; */
}

.inv .center .huminv .items .i-1a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	height: 3.5vh;
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-1a1 p {
	color: #ffffff00;
	font-size: 1vh;
	text-align: center;
	margin-top: 1.5vh;
	width: 7.019vh;
}

.inv .center .huminv .items .i-1a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-3a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	position: absolute;
	/* left: calc(32.1vh + (3.5vh)); */
	left: calc(8.4vh + (3.5vh));
	top: calc(36.4vh + (2.9vh));
	/* top: calc(39vh + (2.9vh)); */
}

.inv .center .huminv .items .i-3a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-3a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-3a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-4a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(18.3vh + (3.5vh));
	top: calc(36.4vh + (2.9vh));
}

.inv .center .huminv .items .i-4a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	position: relative;
	left: 1.5595vh;
	top: 1.5595vh;
	/* width: auto;
	height: 3.5vh;
	position: relative;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-4a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-4a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i253a1 {
	/* color: #fff; */
	/* width: 6.944vh; */
	/* height: 6.944vh; */
	display: block;
	/* margin-right: 0; */
	/* margin-bottom: 0; */
	/* position: absolute; */
	/* left: calc(18vh + (3.5vh)); */
	/* top: calc(37.3vh + (0.4vh)); */
}

.inv .center .huminv .items .i253a1 img {
	color: #fff;
	width: 3.5vh;
	height: 3.5vh;
	position: relative;
	left: 1.5595vh;
	top: 1.5595vh;
	/* width: auto;
	height: 3.5vh;
	position: relative;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i253a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i253a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-6a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(18.3vh + (3.5vh));
	top: calc(62.8vh + (2.9vh));
}

.inv .center .huminv .items .i-6a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
	top: 1.5595vh;
}

.inv .center .huminv .items .i-6a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-6a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i255a1 {
	color: #fff;
	/* width: 6.944vh; */
	/* height: 6.944vh; */
	display: block;
	/* margin-right: 0; */
	/* margin-bottom: 0; */
	/* position: absolute; */
	/* left: calc(4.4vh + (3.5vh)); */
	/* top: calc(28.5vh + (2.9vh)); */
}

.inv .center .huminv .items .i255a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	height: 3.5vh;
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i255a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i255a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-8a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(27.8vh + (3.5vh));
	top: calc(17vh + (2.9vh));
}

.inv .center .huminv .items .i-8a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-8a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-8a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-9a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(18.3vh + (3.5vh));
	top: calc(26.5vh + (2.9vh));
}

.inv .center .huminv .items .i-9a1 img {
	color: #fff;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	left: 1.5595vh;
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
	top: 1.5595vh;
}

.inv .center .huminv .items .i-9a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-9a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-11a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(18.3vh + (3.5vh));
	top: calc(17vh + (2.9vh));
}

.inv .center .huminv .items .i-11a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-11a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-11a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-13a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(8.4vh + (3.5vh));
	top: calc(17vh + (2.9vh));
}

.inv .center .huminv .items .i-12a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-12a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-12a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-12a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(18.3vh + (3.5vh));
	top: calc(7vh + (2.9vh));
}

.inv .center .huminv .items .i-13a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-13a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-13a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

.inv .center .huminv .items .i-14a1 {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	left: calc(31.8vh + (3.5vh));
	/* top: calc(49.2vh + (2.9vh)); */
	/* left: calc(18.3vh + (3.5vh)); */
	top: calc(36.4vh + (2.9vh));
	left: calc(27.8vh + (3.5vh));
}

.inv .center .huminv .items .i-14a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	/* height: 3.5vh; */
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i-14a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i-14a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}


.inv .center .huminv .items .i262a1 {
	color: #fff;
	/* width: 6.944vh; */
	/* height: 6.944vh; */
	display: block;
	/* margin-right: 0; */
	/* margin-bottom: 0; */
	/* position: absolute; */
	/* left: calc(31.7vh + (3.9vh)); */
	/* top: calc(49.3vh + (-20.9vh)); */
}

.inv .center .huminv .items .i262a1 img {
	color: #fff;
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* position: relative; */
	left: 1.5595vh;
	top: 1.5595vh;
	width: auto;
	height: 3.5vh;
	position: relative;
	/* left: 1.5595vh; */
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -25%); */
}

.inv .center .huminv .items .i262a1 p {
	color: #ffffff00;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

.inv .center .huminv .items .i262a1 span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

/**/
.inv .center .bpinv {
	display: none;
	color: #fff;
	height: 36vh;
	padding: 12vh 2vh 0vh 4.5vh;
}

.inv .center .bpinv h1 {
	font-size: 2.222vh;
	font-weight: 600;
	line-height: 2.593vh;
	color: #FFFFFF;
	margin-bottom: 0.9vh;
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
}

.inv .center .bpinv p {
	color: #FFFFFF99;
	font-size: 1.852vh;
	line-height: 2.130vh;
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
	margin-bottom: 1vh;
}

.inv .center .bpinv .items {
	color: #fff;
	height: 27vh;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2vh;
	align-content: flex-start;
}

.inv .center .bpinv .items .item {
	color: #fff;
	width: 6.019vh;
	height: 6.019vh;
	background: #22212333;
	border: 0.093vh solid rgba(255, 255, 255, 0.4);
	border-radius: 0.463vh;
	margin-right: 0.9vh;
	margin-bottom: 0.8vh;
}

.inv .center .bpinv .items .item img {
	color: #fff;
	width: 4vh;
	height: 4vh;
	position: relative;
	left: 1.0095vh;
	top: 1.0095vh;
}

.inv .center .bpinv .items .item p {
	color: #fff;
	font-size: 1vh;
	text-align: center;
}

.inv .center .bpinv .items .item span {
	width: 5vh;
	color: #ced4da;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -7vh;
	left: 0.2vh;
	text-align: right;
	display: block;
}

.inv .right {
	color: #fff;
	/* height: 61vh;
	width: 39.2vh;
	margin-top: 11.9vh; */
	/* margin-top: 18vh; */
	/* right: -24vh; */
	position: fixed;
	/* position: absolute; */
	top: -48vh;
	right: 2vh;
	/* transform: translate(0%, -65%); */
}

.inv .right .dopinv {
	color: #fff;
	width: 41vh;
	padding-right: 1vh;
	height: 70.2vh;
	/* background: linear-gradient(180deg, rgba(1, 13, 25, 0.91) 68.8%, #000000 100%); */
	background: linear-gradient(180deg, rgba(0, 14, 27, 0.7735) 63.6%, rgba(0, 0, 0, 0.85) 100%);
	border: 1px solid #E4C08F;
	box-sizing: border-box;
	/* padding: 0vh 2vh 1vh 2.8vh; */
}

.inv .right .dopinv h1 {
	font-size: 2.222vh;
	font-weight: 600;
	/* line-height: 2.593vh; */
	margin: 0;
	color: #FFFFFF;
	/* margin-bottom: 0.9vh; */
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
}

.inv .right .dopinv p {
	color: #FFFFFF99;
	font-size: 1.852vh;
	margin: 0;
	/* line-height: 2.130vh; */
	text-shadow: 0px 0px 0.926vh rgb(0 0 0 / 25%);
	/* margin-bottom: 1vh; */
}

.inv .right .dopinv .items {
	border: 4px dashed rgba(255, 255, 255, 0.25);
	width: 33.7vh;
	/* margin: 0 15px; */
	margin-left: 2vh;
	margin-right: 2vh;
	color: #fff;
	height: 55vh;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.5vh;
	padding: 1vh 2vh;
	padding-right: 1vh;
	align-content: flex-start;
}

.inv .right .dopinv .items .item {
	color: #fff;
	width: 7.019vh;
	display: block;
	height: 7.019vh;
	/* background: #22212333; */
	/* border: 0.093vh solid rgba(255, 255, 255, 0.5); */
	/* border-radius: 0.463vh; */
	margin-right: 1vh;
	margin-bottom: 0.8vh;
	align-items: center;
	justify-content: center;
	position: relative;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* border: 1px solid rgb(255 255 255 / 12%); */
	/* background-color: #1b1b1bd6; */
	/* border-radius: 0.463vh; */
	border: 1px dashed rgba(255, 255, 255, 0.25);
	/* color: #fff; */
	/* width: 6.019vh; */
	/* height: 6.019vh; */
	/* color: #fff; */
	/* width: 7.019vh; */
	/* display: block; */
	/* height: 7.019vh; */
	/* margin-right: 1vh; */
	/* margin-bottom: 0.8vh; */
	/* justify-content: center; */
	/* position: relative; */
	/* display: flex; */
	/* background: #22212333; */
	/* border: 0.093vh solid rgba(255, 255, 255, 0.4); */
	/* border-radius: 0.463vh; */
	/* margin-right: 0.9vh; */
	/* margin-bottom: 0.8vh; */
	/* border: 1px solid rgb(255 255 255 / 12%); */
	/* background-color: #1b1b1bd6; */
	/* display: flex; */
	/* color: #fff; */
	/* width: 7.019vh; */
	/* display: block; */
	/* height: 7.019vh; */
	/* background: #22212333; */
	/* border: 0.093vh solid rgba(255, 255, 255, 0.5); */
	/* border-radius: 0.463vh; */
	/* margin-right: 1vh; */
	/* margin-bottom: 0.8vh; */
	/* align-items: center; */
	/* justify-content: center; */
	/* position: relative; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* border: 1px solid rgb(255 255 255 / 12%); */
	/* background-color: #1b1b1bd6; */
	/* border-radius: 0.463vh; */
	/* border: 1px dashed rgba(255, 255, 255, 0.25); */
}

.inv .right .dopinv .items .item img {
	/* color: #fff; */
	/* width: 4vh; */
	/* height: 4vh; */
	position: relative;
	transform: translate(-50%, 0);
	left: 50%;
	top: 2.0095vh;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* align-content: center; */
	/* height: 35px; */
}

.inv .right .dopinv .items .item p {
	color: #fff;
	font-size: 1vh;
	text-align: center;
}

.inv .right .dopinv .items .item span {
	/* color: #fff; */
	/* width: 5vh; */
	/* color: #ced4da; */
	/* font-size: 0.9vh; */
	/* font-weight: 600; */
	/* position: relative; */
	/* top: -4vh; */
	/* left: 0.4vh; */
	/* text-align: right; */
	/* display: block; */
	/* width: 5vh; */
	color: #ced4da;
	/* font-size: 0.9vh; */
	/* font-weight: 600; */
	position: absolute;
	/* top: -3.5vh; */
	/* left: 1.2vh; */
	/* text-align: right; */
	/* display: block; */
	font-size: 10px;
	top: 3px;
	right: 7px;
}

body .itema {
	color: #fff;
	width: 6.944vh;
	height: 6.944vh;
	background: #22212300;
	border: 0.093vh solid rgba(255, 255, 255, 0.4);
	/* border-bottom: 0.4vh solid #4B5BE6; */
	/* border-radius: 5vh; */
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	top: 18.3vh;
	left: 9vh;
}

body .itema img {
	color: #fff;
	width: 3.5vh;
	height: 3.5vh;
	position: relative;
	left: 1.5595vh;
	top: 1.5595vh;
}

body .itema p {
	color: #ffffff00;
	font-size: 1vh;
	text-align: center;
	margin-top: 1.5vh;
	width: 7.019vh;
}

body .itema span {
	width: 5vh;
	color: #ced4da00;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -8vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}



body .item {
	color: #fff;
	width: 7.019vh;
	height: 7.019vh;
	/* background: #22212333; */
	/* border: 0.093vh solid rgba(255, 255, 255, 0.4); */
	/* border-radius: 0.463vh; */
	/* border: 1px solid rgb(255 255 255 / 12%); */
	/* background-color: #1b1b1bd6; */
	margin-right: 0.9vh;
	margin-bottom: 0.8vh;
}

body .item img {
	/* color: #fff; */
	/* width: 3.5vh; */
	/* height: 3.5vh; */
	/* width: auto; */
	height: 3.8vh;
	/* position: relative; */
	/* left: 1.7595vh; */
	/* top: 1.7595vh; */
}

body .item p {
	color: #ffffff;
	font-size: 0.8vh;
	width: 7.019vh;
	text-align: center;
	margin-top: 1.4vh;
	margin-left: -0.1vh;
}

body .item span {
	width: 5vh;
	color: #ced4da;
	font-size: 0.9vh;
	font-weight: 600;
	position: relative;
	top: -3.4vh;
	left: 1.2vh;
	text-align: right;
	display: block;
}

/* Fast Slots */

.fast_slot {
    padding: 0vh 2vh 7vh 2.3vh;
}

.fast_slot .fast {
	margin-bottom: 1.5vh;
}

.fast_block {
	display: flex;
}

.fast_block h1 {
    position: absolute;
    margin: 0;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: #fff;
    display: none;
}.board .fastSlotField {
	/* position: relative; */
	/* border: 0; */
	/* bottom: 0; */
	/* display: block; */
	/* z-index: 1; */
	/* margin: 0; */
	/* padding: 0; */
	color: #fff;
	width: 7.019vh;
	display: block;
	height: 7.019vh;
	/* background: #22212333; */
	/* border: 0.093vh solid rgba(255, 255, 255, 0.5); */
	/* border-radius: 0.463vh; */
	margin-right: 1.8vh;
	margin-bottom: 1.8vh;
	align-items: center;
	justify-content: center;
	position: relative;
	display: flex;
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* border: 1px solid rgb(255 255 255 / 12%); */
	/* background-color: #1b1b1bd6; */
	/* border-radius: 0.463vh; */
	border: 1px dashed rgba(255, 255, 255, 0.25);
	/* width: 70px; */
	/* height: 70px; */
	/* color: #fff; */
	/* border-radius: 5px; */
	/* background: #f4f4f4; */
	/* opacity: .1; */
}
.board .fastSlotField.selecting {
	opacity: .2
}
.board .fastSlotField.selecting:hover {
	opacity: .3
}
.board [fastslot="1"], .board [fastslot="2"], .board [fastslot="3"], .board [fastslot="4"], .board [fastslot="5"] {
	position: absolute;
	border: 0;
	bottom: 100px;
	display: block;
	z-index: 2;
	margin: 0;
	padding: 0
}
.board [fastslot="1"] {
	left: -440px!important
}
.board [fastslot="2"] {
	left: -361px!important
}
.board [fastslot="3"] {
	left: -282px!important
}
.board [fastslot="4"] {
	left: -203px!important
}
.board [fastslot="5"] {
	left: -124px!important
}



@media (min-width: 2500px) {
	.inventory_bg,
	.right.droppable {
		zoom: .9;
	}

	.inv .right {
		right: -15vh;
	}
}

@media (min-width: 2000px) {
	.inventory_bg,
	.right.droppable {
		zoom: .9;
	}

	.inv .right {
		right: -12vh;
	}
}

@media (min-width: 1900px) {
	.inventory_bg,
	.right.droppable {
		zoom: 1.0;
	}

	.inv .right {
		right: -8vh;
	}
}

@media (max-width: 1899px) {
	.inventory_bg,
	.right.droppable {
		zoom: .9;
	}

	.inv .right {
		right: -14vh;
	}
}

@media (max-width: 1600px) {
	.inventory_bg,
	.right.droppable {
		zoom: .9;
	}
}

@media (max-width: 1400px) {
	.inventory_bg,
	.right.droppable {
		zoom: 0.8;
	}

	.inv .right .dopinv .items {
		width: 33.8vh;
	}
}

@media (max-width: 1300px) {
	.inventory_bg,
	.right.droppable {
		zoom: 0.7;
	}

	.inv .center .huminv .items {
		width: 46vh;
	}

	.inv .right .dopinv .items {
		width: 33.9vh;
	}
}

@media (max-width: 1140px) {
	.inventory_bg,
	.right.droppable {
		zoom: 0.6;
	}

	.inv .right {
		right: -14vh;
	}

	.inv .right .dopinv .items {
		width: 34.1vh;
		padding: 1vh 1vh;
	}
}

@media (max-width: 1000px) {
	.inventory_bg,
	.right.droppable {
		zoom: 0.5;
	}

	.inv .center .huminv .items {
		width: 47vh;
	}
	
	.inv .right .dopinv .items {
		width: 34.3vh;
		padding: 1vh 1vh;
	}
}

@media (max-width: 900px) {
	.inventory_bg,
	.right.droppable {
		zoom: 0.4;
	}
	
	.inv .center .huminv .items {
		width: 47vh;
	}
	
	.inv .right .dopinv .items {
		width: 34.9vh;
		padding: 1vh 1vh;
	}
}