.info {background: linear-gradient(180deg, rgba(26, 26, 26, 0.92) 0%, rgba(0, 14, 27, 0.88) 100%);border-radius: 1px;user-select: none;position: absolute;border: 1px solid rgba(255, 255, 255, 0.12);/* background-color: rgba(27, 27, 27, 0.84); */display: flex;flex-flow: column nowrap;color: white;text-align: center;/* border-radius: 0.5vh 0.5vh 0px 0px; */align-items: center;}
.info .header {width: 100%;display: flex;flex-flow: row nowrap;}
.info .header .text {width: 100%;padding: 1vh;font-size: 1.6vh;font-family: Roboto;font-style: normal;font-weight: 500;text-transform: uppercase;/* font-size: 10px; */line-height: 12px;/* border-bottom: 1px solid; */}
.info .clos { position: absolute; right: 10px; top: 5px; }
.info .box {height: 90px;padding: 1vh 1.5vh;font-size: 1.4vh;font-family: Roboto;font-style: normal;font-weight: normal;/* font-size: 10px; */line-height: 12px;color: #FFFFFF;}
.info .button { width: 100%; display: flex; justify-content: space-between; }
.info .btns {/* width: 30%; */font-size: 1.3vh;/* color: rgba(255, 255, 255, 0.42); */background: rgba(68, 68, 68, 0.28);padding: 0.6vh 1.2vh;color: rgba(255, 255, 255, 0.15);text-transform: uppercase;/* background: rgba(68, 68, 68, 0.28); */}
.info .btns:hover {background-color: rgb(255 255 255);color: black;}
.info .border_line {
    width: 160px;
    height: 2px;
    /* padding: 0 25px; */
    display: block;
    background: white;
    justify-content: center;
    align-items: center;
}